.search{
    margin: 10px;
    height: 30px;
}

.left-list li{
    list-style: none;
    float: left;
    margin: 10px;
}

.right-list li{
    list-style: none;
    float: right;
    margin: 10px;
}
.ad{
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    overflow: hidden;
}
.ad img{
	width: 100%;
}
.kind{
    margin: 50px 30px;
    float: left;  
    font-size: 1.2em;
}

.kind-list{
	padding: 0px;
	margin-left: 40px;
	border-bottom: 1px solid #DDDDDD;
}

.kind-list li{
     border: 1px solid #DDDDDD;
     border-bottom: 0;
     list-style: none;
     width: 200px;
     height: 40px;
     padding: 10px;
     font-weight: bolder;
}
.son-kind{
	padding-left: 30px;
	background-color: #888888;
}
.son-kind a{
	color: white;
}
.items{
    width: 1040px;
    float: left;
}
.item-list{
    overflow: auto;
}
.item-list li{
    width: 200px;
    margin: 30px 20px;
    float: left;
    height: 400px;
}
.page-list{
    margin-left: 300px; 
    overflow: auto;
}
.page-list li{
    border: 1px solid #DDDDDD;
    list-style: none;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 1.2em;
    float: left;
}
.main-pic{
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 300px;
	overflow: hidden;
}
.main-pic img{
	width: 200px;
}
.item-link{
	text-align: center;
}
.search-list{
	width: 1040px;
	float: left;
}
.search-list li{
	width: 200px;
    margin: 30px 20px;
    float: left;
    height: 400px;
}